#list{
	position:relative;
	left:50%;
	transform:translate(calc(-50% - 6px) ,0%);

	max-width:600px;
}
#list img{
	width:calc(100%-12*6);
}

.linkLoc{
	top:-100px;
}

.character{
	margin-bottom:30px;
	margin-top:30px;
	position:relative;

	text-align: center;
	align-content: center;
}

.name{
	font-size:40px;
}

.character img{
	width: 100%;
	max-width: 350px;
}
.character table img{
	width: 40px;
}



@media only screen and (max-width:1299px){
	.description{
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.stats{
		margin-left:auto; 
		margin-right:auto;
		margin-top:30px;
		margin-bottom: 15px;
	
	}
	.weapons{
		margin-left:auto; 
		margin-right:auto;
		margin-top:30px;
		margin-bottom: 15px;
	}
	.spells{
		margin-left:auto; 
		margin-right:auto;
		margin-top: 15px;
		margin-bottom: 15px;
	}
}


@media only screen and (min-width:1300px){
	.stats{
		position: absolute;
		top:100px;
		left:calc((50% - 175px)/2);
		transform:translate(-50%, 0%);
	}

	.weapons{
		position: absolute;
		top:300px;
		left:calc((50% - 175px)/2);
		transform:translate(-50%, 0%);
	}

	.spells{
		position: absolute;
		top:100px;
		left:calc((50% + 175px) + calc(calc(calc(100%) - calc(50% + 175px))/2));
		transform:translate(-50%, 0%);
	}

	.description{
		position: relative;
		top:20px;
		padding-left:40px;
		padding-right:40px;
	}

	.character{
		height: 700px;
	}

}

@media only screen and (max-width:470px){
	.weapons td:nth-child(1){
		display: none;
	}

	.stats td:nth-child(1){
		display: none;
	}

	
}

@media only screen and (max-width:370px){
	.character table img{
		width: 10vw;
	}

	
	#list img{
		width:99%;
		box-shadow: none;
		border: none;
		margin: 0px;
        box-sizing: none;
	}
}