#list{
	position:relative;
	left:50%;
	transform:translate(calc(-50% - 6px) ,0%);

	max-width:600px;
}
#list img{
	width:calc(100%-12*6);
}
#list td{
	width:16.6%;
}

.linkLoc{
	top:-100px;
}

.character{
	margin-bottom:30px;
	margin-top:30px;
	position:relative;
}

