#list{
	position:relative;
	left:50%;
	transform:translate(-50%,0%);

	max-width:400px;
}
#list img{
	width:100%;
}
#list td{
	width:14%;
}

.tableSpace{
	width:5% !important;	
}

.details{
	margin-top:20px;
}
.details img{
	width:40px;
}
.details td{
	padding-left:15px;
	text-align:center;
}
.details th{
	padding-left:15px;
}

.details table{
	position:relative;
	left:50%;
	transform:translate(-50%, 0%);
}

.details{
	position:relative;
	left:50%;
	transform:translate(-50%, 0%);

	max-width:900px;
}

#otherResources{
	max-width:900px;
	margin-top:20px;
	position:relative;
	left:50%;
	transform:translate(calc(-50% - 6px), 0%);
	margin-bottom:12px;
}