#list{
	position:relative;
	left:50%;
	transform:translate(calc(-50% - 6px) ,0%);

	max-width:450px;
}
#list img{
	width:100%;
}
#list td{
	width:9.5%;
}

.tableSpace{
	width:5% !important;	
}

.details{
	position:relative;
	top:20px;
}
.details img{
	width:40px;
}
.details td{
	padding-left:15px;
	text-align:center;
}
.details a{
	height:100%;
	width:100%;
}
.details th{
	padding-left:15px;
}

.details table{
	position:relative;
	left:50%;
	transform:translate(calc(-50% - 6px), 0%);
}

.details{
	position:relative;
	left:50%;
	transform:translate(-50%, 0%);

	max-width:900px;
}

@media only screen and (max-width:640px){
	.details table td:nth-child(3){
		display:none;
	}
	.details table th:nth-child(3){
		display:none;
	}
}

@media only screen and (max-width:570px){
        .details table td:nth-child(5){
                display:none;
        }
        .details table th:nth-child(5){
                display:none;
        }
}

@media only screen and (max-width:360px){
        .details table td:nth-child(6){
                display:none;
        }
        .details table th:nth-child(6){
                display:none;
        }
}